*{
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color:#DA81F5;
}
header{
    background-color: #8a51bd;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 20px 20px;
}
.NavLink li{
    display:inline-block;
    justify-content: flex-end;
}
li, a {
    font-size: 25px;
    color: #1B0A2A;
    text-decoration: none;
    list-style: none;
    margin: auto;
}
header .active{
    padding: 25px 32px;
    transition-duration: 0.4s;
}
header a:hover{
    background-color: darkslateblue;
    opacity: 0.5;
    padding: 15px 32px;
}
.container {
    background-color: #377f7f;
    height: auto;
    padding: 60px 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.card {
    height: auto;
    padding: 30px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card .cardimg{
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.imgcard {
    max-width: 100%;
    max-height: 100%;
}
.cardname{
    margin-top: 50px;
}
.cardposition{
    margin-top: 10px;
    padding: 0 0 0 0;
}
.fa fa-linkedin,.fab fa-github{
    color: #1B0A2A;;
    margin-top: 10px;
}
.present{
    width: auto;
    margin-top: auto;
    padding: 10px 10px 10px 10px;
}
@media(max-width: 800px) and (min-width: 330px){
    nav{
        justify-content: space-around;
    }
    li, a{
        font-size: large;
    }
    h1{
        font-size: large;
    }
    h2{
        font-size: medium;
        color: #1B0A2A;
    }
    .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column ;
    }
    .card {
        height: auto;
        padding: 30px 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card .cardimg{
        margin-top: 10px;
        height: 250px;
        width: 250px;
        border-radius: 15%;
    }
    .imgcard {
        max-width: 100%;
        max-height: 100%;
    }
    .cardname {
        margin-top: 50px;
    }
    .cardposition{
        margin-top: 10px;
        padding: 0 10px 0 10px;
    }
    .fa-linkedin,.fa-github{
        color: #1B0A2A;
        margin-top: 10px;
    }
    .present{
        margin-top: auto;
        padding: 10px 10px 10px 10px;
    }
}



/* block bootcamp*/
h2{
    margin: auto;
    padding: 20px;
}
.motivs{
    display:flex;
}
li {
  justify-content: space-around;  
}   
